NODE_ENV=development
ENV=development
PORT=3000
DEBUG=true

BASE_URL=http://localhost:3000
APP_URL=http://localhost:3000

# Jsonwebtoken config
JWT_SECRET=node-app
JWT_REFRESH_KEY=fresh-key
JWT_REFRESH_EXPIRE_TIME=30d
JWT_EXPIRED_LOGIN=1h

# Database config
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db-name
DB_USERNAME=root
DB_PASSWORD=root
DB_POOL_MIN_CONNECTION=0
DB_POOL_MAX_CONNECTION=10
DB_POOL_CONNECTION_IDLE=10000

# Mail config
MAIL_DRIVER=Gmail
MAIL_USERNAME=no-reply
MAIL_PASSWORD=password
MAIL_FROM=no-reply@gmail.com
MAIL_PORT=465
MAIL_HOST=smtp.mail.us-east-1.awsapps.com

# Mongodb config
MONGODB_URI=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

ZALO_APP_ID=
ZALO_APP_SECRET=

# Redis config
REDIS_HOST=
REDIS_PORT=

# AWS config
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION_NAME=
AWS_S3_BUCKET_NAME=

# other config
GOOGLE_ID=
GOOGLE_SECRET=

TWITTER_KEY=
TWITTER_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

STRIPE_SECRET_KEY=

SPEED_SMS_ACCESS_TOKEN=

VERIFY_CODE_EXPIRE_TIME=300

FILESYSTEM_DRIVER=minio
LOCAL_STORAGE_PATH=
CLOUD_FRONT_URL=http://localhost:300/static
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY_ID=u-home-key
MINIO_SECRET_ACCESS_KEY=u-home-secret
MINIO_REGION_NAME=us-east-1
MINIO_BUCKET_NAME=uhome-attachment

TWILIO_ACCOUNT_SID=ACd83bb707385d23462ae32d550e244b48
TWILIO_API_KEY=SK046a59dc8482cfe23bb00d9400239cd0
TWILIO_API_SECRET=QWAlOoijZ83w73wJKa3IJMhWs3OE27aI
TWILIO_CHAT_SERVICE_SID=IS1265ec0f0b8145298538c75cfcda8817
TWILIO_AUTH_TOKEN=541e2ecdd36d19b17a26673cc96c2d25
TWILIO_MESSAGING_SERVICE_SID=MG46e4472fef51f8aece514a41e0cb97cc
SENTRY_DNS=https://1d687ec8d2ff45d788fb07473bd3efaa@o622108.ingest.sentry.io/5752539
#
OCR_API_KEY=
OCR_API_SECRET=
OCR_DOMAIN=