### Node template
# Logs
logs

# Runtime data
pids

lib-cov

# Coverage directory used by tools like istanbul
coverage

# Bower dependency directory (https://bower.io/)
bower_components



# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
client/node_modules/
jspm_packages/

# Typescript v1 declaration files
typings/

.env

/.vscode
client
dist
public
